.cart-main-container{
    display: flex;
    margin-top: 100px;
    gap: 40px;
}
.cart-main-container > .cart-left-container{
    width: 60%;
    border: 0.1px solid #ccc;
    border-radius: 6px;
}
.cart-main-container > .cart-left-container >:first-child{
   padding-left: 24px;
   padding-right: 24px;
   padding-top: 16px;
   padding-bottom: 16px;
   font-size: 22px;
   color: #30363c;
}
.cart-main-container > .cart-right-container{
    width: 40%;
    border-radius: 6px;
}
.cart-main-container > .cart-left-container .cart-item-container .cart-item{
    display: flex;
    justify-content: space-between;
    
}
.cart-main-container > .cart-left-container .cart-item-container .cart-item > :first-child >  img{
    width: 100px;
}
.cart-main-container > .cart-left-container .cart-item-container .cart-item{
    border-top: 0.1px solid #ccc;
    border-bottom: 0.1px solid #ccc;
    padding-left: 32px;
   padding-right: 32px;
   padding-top: 24px;
   padding-bottom: 24px;
}
.cart-main-container > .cart-left-container .cart-item-container .cart-item > :last-child{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-main-container > .cart-left-container .cart-item-container .cart-item > :last-child > img{
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.cart-main-container > .cart-left-container .cart-item-container .cart-item > :last-child > select{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;

}
.cart-main-container > .cart-left-container .cart-item-container .cart-item > div{
    padding: 10px;
}
.cart-item > div> .name-of-product{
    font-size: 16px;
    color: #30363c;
    padding-bottom: 5px;
}
.cart-item > div> .brand-name{
    font-size: 12px;
    color: #8897a2;
    padding-bottom: 10px;
}
.cart-item > div> .price{
    font-size: 16px;
    color: #30363c;
    padding-bottom: 10px;
}
.cart-item > div> .delivery-by{
    font-size: 12px;
    color: #45585e;
    padding-bottom: 10px;
}

.cart-main-container > .cart-right-container > .offer {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    background:linear-gradient(90.19deg,#d9f0e5 3.48%,#deecfc 103.06%);
    padding: 10px;
    align-items: center;   
}
.cart-main-container > .cart-right-container > .offer > img{
    width: 32px;
    height: 32px;
}
.cart-main-container > .cart-right-container > .offer  p{
    font-size: 12px;
    color: #30363c;
}
.cart-main-container > .cart-right-container > .cart-total{
    margin-top: 30px;
    border: 0.1px solid #ccc;
    /* padding: 15px; */
    border-radius: 6px;
}
.cart-main-container > .cart-right-container > .cart-total > p{
    font-size: 18px;
    color: #2d3033;
    padding: 20px;
    border-bottom: 0.1px solid #ccc;
    
}
.cart-main-container > .cart-right-container > .cart-total >p >span{
    font-size: 22px;
    color: #30363c;
}
.cart-main-container > .cart-right-container > .cart-total > button{
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    outline: none;
    background-color: #10847e;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}
.cart-main-container > .cart-right-container > .cart-total > div{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.cart-main-container > .cart-right-container > .cart-total > div > div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bill-summary{
    border: 0.1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    margin-top: 50px;
}
.bill-summary > h3{
    font-size: 18px;
    color: #30363c;
    padding-bottom: 15px;
}
.bill-summary > div{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.bill-summary .amount-to-be-paid{
    color: #000;
    font-weight: 500;
}
