  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color:#10847e
}
.main-container{
    width: 70%;
    margin: auto;
    
}
/* nav start */
/* .main-container > nav{
 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    font-size: 14px;
}

.main-container > nav > .main-container--left{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 5px;
    align-items: center;
}
.main-container > nav > .main-container--left > a > img{
    width: 148px;
    height: 40px;
}
.main-container > nav > .main-container--left > .vertical-line{
    border: 0.1px solid grey;
    height: 41px;
}
.main-container > nav > .main-container--left  .delivery-pin--code > :last-child > button{
    background-color: transparent;
    border: none;
}
.main-container > nav > .main-container--left  .delivery-pin--code > :last-child > button > i{
    font-size: 1rem;
}
.main-container > nav > .main-container--left  .delivery-pin--code > :last-child > button > i:hover{
    font-size: 1.2rem;
}
.main-container > nav > .main-container--left  .delivery-pin--code > :last-child > input{
padding: 5px;
border-radius: 4px;
border: 0.1px solid grey;
}

.main-container > nav > .main-container--right{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 5px;
    align-items: center;
}
.main-container > nav > .main-container--right > div{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.main-container > nav > .main-container--left > .delivery-pin--code >  div > img{
    height: 20px;
    
    
}
.main-container > nav > .main-container--right > :first-child{
    background-color:#eef4ff
}

.main-container > nav > .main-container--right > div{
    padding: 10px;
    border-radius: 10px;
}
.main-container > nav > .main-container--right > div >a{
    text-decoration: none;
    color: black;
} */

/* nav end */

/* services start */
/* .main-container > .services{
    margin-top: 10px;
    font-size: .9rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 10px;
}
.main-container > .services > ul{
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
.main-container > .services > ul > li >a{
    text-decoration: none;
    color: #30363c;

}
.main-container > .services > ul > li >a:hover{
    color:var(--primary-color)
} */

/* .services end */


/* looking-for-section start */



.main-container > .looking-for-section > .search{
    width: 60%;
    margin: auto;
}
.main-container > .looking-for-section > div >:first-child{
    /* border: 1px solid red; */
     display: flex;
    position: relative;
    height: 60px;
}
.main-container > .looking-for-section > div >:first-child > div{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 10px;
}
.main-container > .looking-for-section > div >:first-child h1{
    font-weight: 200;
}
.main-container > .looking-for-section > div >:first-child a{
    text-decoration: none;
    color: var(--primary-color);
    
}
.main-container > .looking-for-section .search-container{
    margin-top: 20px;
}
.main-container > .looking-for-section  .search-container > .search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.main-container > .looking-for-section  .search-container > .search-input > input{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}
.main-container > .looking-for-section  .search-container > .search-input > button{
    position: absolute;
    right: 10px;
    padding: 8px;
    width: 100px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px;
    border: none;
}
.main-container > .looking-for-section  .search-container > .search-input > button:hover{
    background-color: #0a5552;
}

.main-container > .looking-for-section  .search-container .suggestion-list--container{
    max-height: 250px; 
      overflow-y: auto;
      border: 1px solid #ccc;
      width: 100%; 
      display: none;
      border-radius: 15px;
}
.main-container > .looking-for-section  .search-container .suggestion-list--container #suggestion-list{
    list-style: none;
      padding: 0;
      margin: 0;
}
.main-container > .looking-for-section  .search-container .suggestion-list--container #suggestion-list li{
    padding: 10px 20px;
}

.main-container > .looking-for-section > .looking-for-section--services{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main-container > .looking-for-section > .looking-for-section--services > div{
    text-align: center;
    width: 10%;
}
.main-container > .looking-for-section > .looking-for-section--services > div a{
    text-decoration: none;
    color: black;
    
}
.main-container > .looking-for-section > .looking-for-section--services > div a img{
    width: 100%;
}
.main-container > .looking-for-section > .looking-for-section--services > div a h3{
    margin: 5px;
    font-weight: 400;
    font-size: 1rem;
}
.main-container > .looking-for-section > .looking-for-section--services > div a p{
    color: #f47779;
    font-size: .8rem;
}



/* looking-for-section end */


/* slider start */

/* .slider-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.slider-wrapper .slide-button{
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
}

.slider-wrapper .image-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
    
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item{
    width: 500px;
    height: 274x;
    object-fit: cover;
    border-radius: 15px;
}
.slider-container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    position: relative;
    background: #ccc;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top:-2px
}
.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
} */

/* slider end */



/* test start */
.labtest .tests{
    grid-template-columns: repeat(10,1fr);
    margin-top: 30px;
    gap: 20px;
}
.labtest{
    margin-top: 30px;
    margin-bottom: 30px;
}
.labtest .tests img{
    width: 200px;
    height: 200px;
}
.labtest .tests div{
    cursor: pointer;
    padding: 10px;
}
.labtest > div {
    position: relative;
}
.labtest > div > h2{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 500;
    color: #30363c;
}
.labtest > div > img{
width: 100px;
position: absolute;
/* left: 10px; */
margin-left: 10px;
}

/* test end */


/* category start */
.category .image-list{
    grid-template-columns: repeat(10,1fr);
    gap: 20px;
}
.category .image-list div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding: 10px;
}
.category .image-list div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.category h4{
    color: black;
    margin-top: 10px;
    font-size: 16px;
    /* background-color: red; */
    

}
.category img{
    width: 150px;
    height: 130px;
}
/* category end */

/* new launches star */
.new-launches .image-list{
    grid-template-columns: repeat(10,1fr);
    gap: 20px;
}
.new-launches .image-list div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding: 10px;
}
.new-launches .image-list div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.new-launches img{
    width: 150px;
    height: 130px;
}
.new-launches h3{
    font-size: 16px;
    margin-top: 10px;
}
.new-launches a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.new-launches h4{
    color: #4f585e;
    padding-top: 10px;
    font-weight: 400;
}
.new-launches h2{
    font-weight: 500;
}
/* new launches end */


/* frequently booked lab test start */

.frequently-booked-lab-test{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.frequently-booked-lab-test img{
    width: 60px;
}
.frequently-booked-lab-test > div:nth-child(odd)
{
    background-color: #f1fafe;
}
.frequently-booked-lab-test > div:nth-child(even)
{
    background-color: #fdf7e8;
}
.frequently-booked-lab-test > div{
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    
}
.lab-cards > :first-child{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column ;
    gap: 10px;
    /* flex-wrap: wrap; */
}
.lab-cards > :last-child{
    display: flex;
    justify-content: space-between;
}
.lab-cards > :last-child > div > :first-child{
    text-decoration: line-through;
}

.lab-cards span{
    background-color: #f47779;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    width: 90px;
    padding: 10px;
}
.lab-cards h3{
    font-weight: 400;
}
.labtest-section h1{
    font-weight: 500;
    margin-bottom: 20px;
}

/* frequently booked lab test end */

/* choose us start */
.choose-us{
    background: #f8f9ff;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 70px;
    margin-top: 50px;
}
.choose-us h1,h4{
    font-weight: 500;
}
.choose-us > div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.choose-us > div > div{
    display: flex;
    width: 20%;
    gap: 20px;
    justify-content: space-between;
}

/* choose us end */

/* app download start */
.app-download-section{
    margin-top: 50px;
    background: url("https://assets.pharmeasy.in/apothecary/images/downloadBanner.webp?dim=1440x0&q=100") center/cover no-repeat;
    text-align: center;
    padding: 100px;
    background-color: #d7faf8;
}
.app-download-section h1{
    font-weight: bold;
}
.app-download-section > div >h1,p{
    margin-bottom: 20px;
}
.app-download-section a{
    margin-right: 20px;
}




/* app download end */

/* testimonial start */

.testimonial{
    margin-top: 50px;
}
.testimonial h1{
    font-weight: 500;
}
.testimonial .testimonial-card-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
.testimonial .testimonial-card-wrapper> div>div{
    background-color: #f2fff8;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    font-weight: 500;
    color: #4f585e;
}
.testimonial .testimonial-card-wrapper> div h4{
margin-bottom: 10px;
}
.testimonial .testimonial-card-wrapper> div p{
    color: #4f585e;
}
/* testimonial end */
/* info section start */

.info-section{
    margin-top: 50px;

}

.info-section span{
    font-weight: 500;
}
.info-section p{
    font-size: 14px;
}
.info-section h3{
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #30363c;
}
.info-section h4{
    margin-bottom: 20px;
}
/* info section end */